/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Lato:300,900);


html, body, header {
  position: relative;
  height: 100%;
}

html {
  body {
    background: #000;
    color: #999;
    
    width: 95%;
    margin: 0 2.5%;
    
    
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 200%;
    
    header {
      h1 {
        position: relative;
        display: inline-block;
        left: 19.1%;
        top: 38.2%;
        
        span {
          &:nth-of-type(1) {
            font-weight: 900;
          }
          
          &:nth-of-type(7) {
            color: lighten(#000, 2%);
          }
          
          &:last-of-type {
            font-size: small;
            position: relative;
            bottom: 1.25em;
            right: 1.25em;
            float: right;
            display: block;
          }
        }
      }
    }
  }
}
